@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #102C57;
    height: 100px;
    align-items: center;
}

#tag{
    margin-left: 20px;
    background-color: #FFB1B1;
    color: aliceblue;
    width: 100;
    height: 50px;
    border-radius: 30%;
    font-family: "Stylish", serif;
    font-size: 20px;
    
}

#tag p{
    display: flex;
    align-items: center;
    justify-content: center;
}