*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 20%;
    height: 62px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    
    
    font-size: 40px;
    background-color: darkblue;
    
}